<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="debug">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %p %m%n"/>
        </Console>
    
        <RollingFile name="daily.rolling.file" fileName="/logs/subscription/daily.log"
            filePattern="/logs/subscription/log/daily-%d{yyyyMMdd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} %p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min" />
        </RollingFile>
        
        <RollingFile name="daily.log.hist" fileName="/logs/subscription/log_hist.log"
           filePattern="/logs/subscription/loghist/$${date:yyyyMMdd}/log_hist_%d{yyyyMMdd}.log">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
            </Policies>
        </RollingFile>
    </Appenders>
    
    <Loggers>
        <Logger name="com.jungjoongi" level="debug" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="daily.rolling.file" />
        </Logger>
        <Logger name="log4jdbc.log4j2" level="info" additivity="false">
            <MarkerFilter marker="LOG4JDBC_JDBC" onMatch="DENY" onMismatch="NEUTRAL"/>
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="daily.rolling.file" />
        </Logger>
        <Logger name="request.log.hist" level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="daily.log.hist" />
        </Logger>
        
       <!--  <Logger name="jdbc.sqlonly" level="error" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="daily.rolling.file"/>
        </Logger>
        <Logger name="jdbc.connection" level="error" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="daily.rolling.file"/>
        </Logger>
        <Logger name="jdbc.resultset" level="error" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="daily.rolling.file"/>
        </Logger>
        <Logger name="jdbc.resultsettable" level="error" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="daily.rolling.file"/>
        </Logger>
        <Logger name="jdbc.sqltiming" level="error" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="daily.rolling.file"/>
        </Logger>
        <Logger name="jdbc.audit" level="error" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="daily.rolling.file"/>
        </Logger> -->

    
        <Root level="debug">
        </Root>
    </Loggers>
</Configuration>
