<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<head th:fragment="configFragment">
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>탐라는제주 - 숨어 있던 진짜 hot한 제주</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <meta property="og:title" content="탐라는제주">
    <meta property="og:type" content="website">
    <meta property="og:description" content="탐라는제주 - 숨어 있던 진짜 hot한 제주">
    <!-- google 로그인-->
    <meta name="google-signin-client_id"
        content="83175317661-drvsnkq8f9lr8t774t0v04if9k21pot9.apps.googleusercontent.com">
    <!-- font -->
    <link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- 공통으로 쓰이는 css파일을넣는다.-->
    <link rel="stylesheet" href="/resources/css/slick.css" />
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/common.css" />
    <link rel="stylesheet" href="/resources/css/layout.css" />

    <!-- 사용자 CSS 영역이 들어감 -->

    <th:block layout:fragment="css"></th:block>

    <!-- 사용자 스크립트 영역이 들어감 -->
    <script src="/resources/js/common/jquery-3.3.1.min.js"></script>
    <script src="/resources/js/common/bootstrap.min.js"></script>
    <script src="/resources/js/common/slick.js"></script>
    <script src="/resources/js/common/common.js"></script>
    <th:block layout:fragment="script"></th:block>

</head>



</html>